name: Deploy to GCP
on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: 'Authenticate to Google Cloud'
        uses: 'google-github-actions/auth@v2'
        with:
          credentials_json: '${{ secrets.GCP_SA_KEY }}'

      - name: 'Set up Cloud SDK'
        uses: 'google-github-actions/setup-gcloud@v2'

      - name: 'Deploy to Cloud Build'
        run: |
          gcloud builds submit \
            --config cloudbuild.yaml \
            --substitutions=_DATABASE_URL="${{ secrets.DATABASE_URL }}",_CLERK_SECRET_KEY="${{ secrets.CLERK_SECRET_KEY }}",_CLERK_WEBHOOK_SECRET="${{ secrets.CLERK_WEBHOOK_SECRET }}",_STRIPE_SECRET_KEY="${{ secrets.STRIPE_SECRET_KEY }}",_STRIPE_WEBHOOK_SECRET="${{ secrets.STRIPE_WEBHOOK_SECRET }}",_CLERK_PUB_KEY="${{ secrets.CLERK_PUB_KEY }}",_PAYMENT_SERVICE_URL="${{ secrets.PAYMENT_SERVICE_URL }}",_ORDER_SERVICE_URL="${{ secrets.ORDER_SERVICE_URL }}" \
            .
